@charset "utf-8";
@import '_vars';
@import 'modules/_response';

.hidden {
    display: none;
}

//Start of page styling

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    background-image: url("../images/qbkls.png");
    background-attachment: fixed;
    background-size: 800px 800px;
    width: 100%;
}

.container{
    width: 100%;
}

.mainHeader{
    height: 70px;
    background-color: $headBlue;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.sixLogo{
    height: 50px;
    margin-left: 25px;
    margin-top: 10px;
}

.landing{
    width: 100%;
    display: flex;
    height: 90vh;
    background: rgb(232,233,235);
    background: linear-gradient(180deg, rgba(202,203,205,0.65) 0%, rgba(202,203,205,0.65) 50%, rgba(129,220,238,0.65) 100%);
    padding-top: 70px;
    flex-direction: column;
}

.imgWrap{
    width: 35%;
    margin-left: 32.5%;
}

.gifterLogo{
    margin-top: 25vh;
    width: 100%;
}

.tagline{
    width: auto;
    margin-left: 54%;
    font-size: 2.4em;
    margin-top: -60px;
    color: $red;
}

.downArrow{
    text-align: center;
    font-size: 2.5em;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 120px;
    color: $red;
    cursor: pointer;
    animation: arrowBounce 14s ease-in-out infinite;
}



.mailForm{
    background-color: rgba(129, 220, 238, 0.658);
    display: flex;
    padding-top: 300px;
    padding-bottom: 200px;
}

.textArea{
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    width: 40%;
    color: $red;
    align-content: space-around;
    margin-left: 6.6%;
    margin-top: 25px;
}

.knowMore{
    font-weight: bold;
    font-size: 3em;
}

.signUp{
    font-size: 1.8em;
}

.form{
    width: 40%;
    margin-left: 6.6%
}

.formInput{
    width: 35%;
    border: none;
    border-bottom: 1px $red solid;
    background: transparent;
    padding: 1%;
    font-size: 1.1em;
    margin-right: 2%;
    margin-bottom: 40px;
}

#submit{
    width: 25%;
    padding: 10px 5%;
    background-color: $red;
    color: #fff;
    border: none;
}

@keyframes arrowBounce {
	0% {
		transform: translateY(0px);
	}

	74% {
		transform: translateY(0px);
	}

	82% {
		transform: translateY(-30px);
	}

	90% {
		transform: translateY(0px);
	}

	95% {
		transform: translateY(-20px);
	}

	100% {
		transform: translateY(0px);
	}
}
